Click==7.0
Cython==0.29.11
Flask==1.0.3
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.4
pkg-resources==0.0.0
protobuf==3.8.0
scipy==1.3.0
six==1.12.0
spearmint==1.0
Werkzeug==0.15.4
